@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

.card {
    width: 600px;
    height: 400px;
}

.col-6 {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-12 {
    height: 150px;
}

button {
    width: 200px;
    height: 50px;
}

.col-6 i {
    font-size: 50px;
    margin-left: 30px;
}

#author {
    padding-right: 50px;
}